.main-section-wrapper {
    position: relative;
}

.main-section {
    height: 100vh;
    text-align: center;
}

.main-heading {
    font-size: 106px;
    font-weight: 700;
}

.main-subheading {
    font-size: 30px;
    letter-spacing: -0.2px;
    line-height: 38px;
    margin: 35px 58px;
    text-align: center;
}

@media all and (max-width: 1279px) {
    .main-heading {
        font-size: 82px;
        line-height: 92px;
    }

    .main-subheading {
        font-size: 25px;
    }
}

@media all and (max-width: 767px) {

    .main-section {
        align-items: flex-start;
        text-align: left;
        min-height: 70vh;
    }

    .main-heading {
        font-size: 55px;
        line-height: 47.5px;
        width: 270px;
        margin-top: 60px;
    }

    .main-subheading {
        font-size: 16px;
        line-height: 22px;
        margin: 35px 0px;
    }
}